.about-section {
    margin-bottom: 35px;
    
}

.about-section h2 {
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

